doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(charset="UTF-8")

    title #{title}
    
    base(href=base)

    link(rel="shortcut icon" href="data:," type="image/x-icon")

  body
    div(id="App")
    
    block scripts
